/* ==========================================================================
use＆nameSpace
========================================================================== */
@use "../../Functions/mixin"as mi;

/* ==========================================================================
LAYOUT
========================================================================== */

.fvTopBx {
    width: 100%;
    position: relative;
}

.fvTopLxn {
    margin: auto;
    padding: 10.6vw 0vw 6.95vw 0vw;
    @include mi.wapLxn();

    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 330);
        @include mi.paddingPercent(375, 73, 0, 31, 0);
    }
}

.h1FvTop {
    @include mi.fontSizePc(92);
    @include mi.lineheightP(130);
    @include mi.letterSpacing(0);
    letter-spacing: -0.14em;
}

.rubyFvTop {
    margin: 3.8vw 0vw 0vw 0vw;
    @include mi.fontSizePc(24);
    @include mi.lineheightP(170);
    letter-spacing: 0.05em;

    @include mi.mq(sp) {
        @include mi.marginPercent(330, 32, auto, 0, auto);
        @include mi.fontSizeSp(13);
        @include mi.lineheight(13, 24);
        @include mi.letterSpacing(0);
    }
}

.fvTopFx {
    margin: 3.4vw 0vw 0vw 0vw;

    @include mi.mq(sp) {
        @include mi.marginPercent(330, 18, auto, 0, auto);
    }
}

.ctaFvTopCta {
    width: 686px;

    @include mi.mq(max1600) {
        @include mi.ontenerWVw(1600, 686);
    }

    @include mi.mq(sp) {
        width: 100%;
    }
}

.liFvTopCta {
    width: 334px;

    @include mi.mq(max1600) {
        @include mi.ontenerWVw(1600, 334);
    }

    @include mi.mq(sp) {
        @include mi.ontenerWidth(330, 160);
    }
}

.btnFvTopCta {
    width: 100%;
    @include mi.kadomaru(60px);
    aspect-ratio: 334 / 72;
    @include mi.fontSizePc(20);

    @include mi.mq(sp) {
        @include mi.kadomaru(60px);
        aspect-ratio: 160 / 39;
        @include mi.fontSizeSp(14);
    }
}

.txtFvTopCta01 {
    background: url(../img/txtFvTopCta01.svg) no-repeat 94% 41%;
    background-size: auto 66%;
    display: block;
    width: 100%;
    transition-duration: 0.5s;
}

.txtFvTopCta02 {
    background: url(../img/txtFvTopCta02.svg) no-repeat 94% 41%;
    background-size: auto 66%;
    display: block;
    width: 100%;
    transition-duration: 0.5s;
}

.btnFvTopCta:hover {
    opacity: 1;

    .txtFvTopCta01 {
        background: url(../img/txtFvTopCta01.svg) no-repeat 93% center;
        background-size: auto 66%;
        letter-spacing: 0.15em;
    }

    .txtFvTopCta02 {
        background: url(../img/txtFvTopCta02.svg) no-repeat 93% center;
        background-size: auto 66%;
        letter-spacing: 0.15em;
    }
}

.secFvTopFx {
    width: 380px;
    margin: -0.2% 0 0 0;
    @include mi.mq(max1000) {
        width: 34vw;
    }

    @include mi.mq(sp) {
        @include mi.ontenerWidth(330, 276);
        @include mi.marginPercent(330, 85, 0, 0, auto);
    }
}

.h2FvTopFx {
    @include mi.fontSizePc(20);

    @include mi.mq(sp) {
        @include mi.fontSizeSp(14);
    }
}

.txtFvTopFx {
    margin: 1.2vw 0vw 0vw 0vw;
    @include mi.fontSizePc(16);
    @include mi.lineheightP(180);
    @include mi.letterSpacing(0);

    @include mi.mq(sp) {
        @include mi.marginPercent(266, 9, 0, 0, 0);
        @include mi.fontSizeSp(13);
        @include mi.lineheight(13, 22);
        @include mi.letterSpacing(0);
    }
}

//scroll
.scroll{
   width: 25px;
    position: absolute;
    left: 5%;
    bottom: -6.6%;
    z-index: 1;
}
.container_05 {
    height: 143px;
    position: relative;
    display: flex;
    justify-content: space-between;
    aspect-ratio: 25/143;
}

.scrollbar-text_05 {
    position: absolute;
    top: 0;
    margin: 0 0 0 auto;
    color: #fff;
    font-family: serif;
    line-height: 1;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    writing-mode: vertical-lr;
    right: 0%;
    transform: translateX(0%);

    @include mi.mq(sp) {

    }
}

.scrollbar_05 {

}
.txtScroll{
    @include mi.fontSizePc(14);
    @include mi.lineheight(14,14);
    @include mi.letterSpacing(150);
    @include mi.mq(sp) {
        @include mi.fontSizeSp(10);
    }
}

.scrollbar_05::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1px;
    height: 143px;
    background: #1D1D1F;
    animation: liner 2.5s cubic-bezier(1, 0, 0, 1) infinite;
}

@keyframes liner {
    0% {
        transform: scale(1, 0);
        transform-origin: 0 0;
    }
    30% {
        transform: scale(1, 1);
        transform-origin: 0 0;
    }
    70% {
        transform: scale(1, 1);
        transform-origin: 0 100%;
    }
    100% {
        transform: scale(1, 0);
        transform-origin: 0 100%;
    }
}

//文字
.jstitleFlow {
    overflow: hidden;

    &> span {
        opacity: 0;
        transform: translateY(100%) scale(1.2, .8);
    }

    &.active {
        &> span {
            @for $var from 1 through 50 {
                $delay: 0.01*$var;

                &:nth-child(#{$var}) {
                    -webkit-animation: bound 0.3s cubic-bezier(.33, 1, .68, 1) #{$delay}s forwards alternate;
                    animation: bound 0.3s cubic-bezier(.33, 1, .68, 1) #{$delay}s forwards alternate;
                }
            }
        }
    }
}

@-webkit-keyframes bound {
    0% {
    opacity: 0;
        transform: translateY(100%) ;
    }


    to {
    opacity: 1;
        transform: none;
    }
}

@keyframes bound {
    0% {
opacity: 0;
        transform: translateY(100%);
    }


    to {
opacity: 1;
        transform: none
    }
}