/* ==========================================================================
useï¼†nameSpace
========================================================================== */
@use "../../Functions/mixin"as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.made{
    padding: 12.2vw 0vw 11.5vw 0vw;
    position: relative;
    overflow: hidden;
    width: 100%;
    @include mi.mq(sp) {
        padding: 28% 0% 26% 0%;
    }
}
.videoMade{
    position: absolute;
    width: auto;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 0;
}
.madeLxn{
    position: relative;
    z-index: 1;
}
.secMade{
    @include mi.ontenerWidth(1570 , 962 );
    margin: auto;
    @include mi.mq(max1250) {
        width: 90%;
    }
    @include mi.mq(sp) {
        width: 98%;
    }
}
.h2Made{
    @include mi.fontSizePc(20);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(50);
    @include mi.mq(sp) {
        @include mi.fontSizeSp(16);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(50);
    }
}
.h3Made{
    @include mi.marginPercent(962, 17,0 ,0 ,0 );
    @include mi.fontSizePc(64);
    @include mi.lineheight(64,64);
    letter-spacing: -0.099em;
    @include mi.mq(sp) {
        margin-top: 3.66%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(40);
        line-height: 140%;
        letter-spacing: -0.14em;
    }
}
.txtMade{
    @include mi.marginPercent(962, 63,auto ,0 ,auto );
    @include mi.fontSizePc(32);
    @include mi.lineheightP(190);
    @include mi.letterSpacing(0);
    @include mi.mq(sp) {
        @include mi.marginPercent(330, 22,auto ,0 ,auto );
        @include mi.fontSizeSp(16);
        @include mi.lineheightP(162);
        @include mi.letterSpacing(0);
    }
}
.txtLastMade{
    @include mi.marginPercent(962, 28,auto ,0 ,auto );
    @include mi.fontSizePc(50);
    @include mi.lineheightP(160);
    @include mi.letterSpacing(0);
    @include mi.mq(sp) {
        margin-top: 3.57%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(24);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(0);
    }
}