/* ==========================================================================
useï¼†nameSpace
========================================================================== */
@use "../../Functions/mixin"as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.strong {
   padding: 12.1vw 0vw 6.8vw 0vw;
   border-top: 1px solid #D9D9D9;
   @include mi.mq(sp) {
        padding: 28% 0% 17.86% 0%;
   }
}
.strongLxn{
    @include mi.mq(sp) {
        @include mi.ontenerWidth( 375,  375);
        margin: auto;
    }
}
.strogTopFx{

}
.secStrongTop{
    @include mi.ontenerWVw( 1920, 845 );
    @include mi.mq(max1450) {
        width: 51.01vw;
    }
    @include mi.mq(sp) {
        @include mi.ontenerWidth( 375,  330);
        margin: auto;
    }
}
.h2StrongTop{
    @include mi.fontSizePc(20);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(50);
    @include mi.mq(sp) {
        @include mi.fontSizeSp(16);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(50);
    }
}
.h3StrongTop{
    @include mi.marginPercent(630, 18,0 ,0 ,0 );
    @include mi.fontSizePc(40);
    @include mi.lineheightP(157);
    letter-spacing: -0.115em;
     @include mi.mq(max1400) {
        @include mi.fontSizePc(37);
    }
    @include mi.mq(sp) {
        margin-top: 3%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(22);
        @include mi.lineheightP(150);
        letter-spacing: -0.14em;
    }
}
.txtStrongTop{
    @include mi.marginPercent(630, 22,0 ,0 ,0 );
    @include mi.fontSizePc(16);
    @include mi.lineheightP(200);
    @include mi.letterSpacing(0);
    @include mi.mq(sp) {
        margin: 4% 0% 0% 0%;
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(179);
        @include mi.letterSpacing(0);
    }
}
.picStrongTop{
    @include mi.ontenerWVw( 1920, 677 );
    margin: 0.5% 0 0 0;
    @include mi.mq(sp) {
        @include mi.ontenerWidth( 375, 352 );
        margin: 14% auto 0 auto;
    }
}
.strogBtmFx{
    @include mi.marginPercent(1570, 26,0 ,0 ,0 );
    @include mi.mq(sp) {
        margin: 36.5% 0% 0% 0%;
    }
}
.secStrongBtm{
    width: 37.01vw;
    @include mi.marginPercent(1570, 107,0 ,0 ,0 );
     @include mi.mq(max1450) {
        width: 49vw;
     }
    @include mi.mq(sp) {
        @include mi.marginPercent(375, 0,auto ,0 ,auto );
        @include mi.ontenerWidth( 375, 330 );
    }
}
.h3StrongBtm{
    @include mi.marginPercent(630, 0,0 ,0 ,0 );
    @include mi.fontSizePc(40);
    @include mi.lineheightP(150);
    letter-spacing: -0.115em;
    width: 100%;
    @include mi.mq(max1400) {
        @include mi.fontSizePc(37);
    }
    @include mi.mq(sp) {
        @include mi.marginPercent(330, 22,auto ,0 ,auto );
        @include mi.fontSizeSp(20);
        @include mi.lineheightP(150);
        letter-spacing: -0.14em;
    }
}
.txtStrongBtm{
    @include mi.marginPercent(630, 15,0 ,0 ,0 );
    @include mi.fontSizePc(16);
    @include mi.lineheightP(200);
    @include mi.letterSpacing(0);
    @include mi.mq(sp) {
        margin-top: 4.27%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(180);
        @include mi.letterSpacing(0);
    }
}
.picStrongBtm{
    @include mi.ontenerWVw( 1920, 707 );
    @include mi.mq(sp) {
        @include mi.marginPercent(375, 75,0 ,0 ,0 );
        @include mi.ontenerWidth( 375, 375 );
    }
}