/* ==========================================================================
useï¼†nameSpace
========================================================================== */
@use "../../Functions/mixin"as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.kyosan{
@include mi.paddingPercent(1920, 134, 0, 236, 0);
@include mi.mq(sp) {
    @include mi.paddingPercent(375, 67, 0, 111, 0);
}
}
.kyosanLxn{
@include mi.mq(sp) {
    width: 100%;
}
}
.kyosanLxnFx{

}
.h2Kyosan{
@include mi.fontSizePc(20);
@include mi.lineheightP(150);
@include mi.letterSpacing(50);
@include mi.mq(sp) {
    @include mi.fontSizeSp(15);
    @include mi.lineheightP(175);
    @include mi.letterSpacing(0);
}
}
.sliderKyosanLxn{
@include mi.marginPercent(1570, 39,0 ,0 ,0 );
@include mi.mq(sp) {
    @include mi.marginPercent(375, 29,0 ,0 ,0 );
}
}
.loopSlidePc01{
    width: 100%;
    height: 108px;
    overflow: hidden;
    @include mi.mq(sp) {
        height: 58px;
    }
}
.loopSlidePc01 img{
    width: auto;
    height: 100%;
    max-width: unset;

    &:first-child {
        animation: slide1 120s -60s linear infinite;
    }

    &:last-child {
        animation: slide2 120s linear infinite;
    }
}

@keyframes slide1 {
    0% {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes slide2 {
    0% {
        transform: translateX(0);
    }

    to {
        transform: translateX(-200%);
    }
}


.loopSlidePc02{
    width: 100%;
    height: 108px;
    overflow: hidden;
    @include mi.mq(sp) {
        @include mi.marginPercent(375, 23,0 ,0 ,0 );
        height: 58px;
    }
}
.loopSlidePc02 img{
   width: auto;
    height: 100%;
    max-width: unset;

    &:first-child {
        animation: slide2_1 120s -60s linear infinite;
    }

    &:last-child {
        animation: slide2_2 120s linear infinite;
    }
}

@keyframes slide2_1 {
    0% {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(100%);
    }
}

@keyframes slide2_2 {
    0% {
        transform: translateX(-200%);
    }

    to {
        transform: translateX(0%);
    }
}

