/* ==========================================================================
useï¼†nameSpace
========================================================================== */
@use "../../Functions/mixin"as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.kyosan {
    @include mi.paddingVw(1920, 0, 0, 229, 0);

    @include mi.mq(sp) {
        @include mi.paddingPercent(375, 67, 0, 111, 0);
    }
}

.kyosanLxn {
    @include mi.mq(sp) {
        width: 100%;
    }
}

.kyosanLxnFx {}

.h2Kyosan {
    @include mi.fontSizePc(20);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(50);

    @include mi.mq(sp) {
        @include mi.fontSizeSp(15);
        @include mi.lineheightP(175);
        @include mi.letterSpacing(0);
    }
}

.sliderKyosanLxn {
    @include mi.marginPercent(1570, 33, 0, 0, 0);

    @include mi.mq(sp) {
        @include mi.marginPercent(375, 29, 0, 0, 0);
    }
}



.loopSlidePc01 {
    display: flex;
    height: 80px;
    overflow: hidden;

    @include mi.mq(sp) {
        height: 58px;
    }
}

.ulSliderKyosanLxn {
    display: flex;

    &:first-child {
        animation: 70s linear -35s infinite normal none running loop;
    }

    &:last-child {
        animation: 70s linear 0s infinite normal none running loop2;
    }

    li {
        min-width: 108px;
        height: auto;
        margin: auto 0 auto 101px;
    }
}

@keyframes loop {

    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes loop2 {

    0% {
        transform: translateX(0px)
    }

    100% {
        transform: translateX(-200%);
    }
}