/* ==========================================================================
useï¼†nameSpace
========================================================================== */
@use "../../Functions/mixin"as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.message {
    @include mi.paddingPercent(1920, 236, 0, 0, 0);

    @include mi.mq(sp) {
        @include mi.paddingPercent(375, 119, 0, 0, 0);
    }
}

.masseageLxn {
    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 330);
        margin: auto;
    }
}

.h2MasseageLxn {
    @include mi.fontSizePc(20);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(50);

    @include mi.mq(sp) {
        @include mi.fontSizeSp(15);
        @include mi.lineheightP(100);
        @include mi.letterSpacing(50);
    }
}

.h3MasseageLxn {
    @include mi.marginPercent(1570, 37, auto, 0, auto);
    @include mi.fontSizePc(40);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(-50);

    @include mi.mq(sp) {
        @include mi.marginPercent(330, 20, auto, 0, auto);
        @include mi.fontSizeSp(20);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(-50);
    }
}

.masseageFx {
    @include mi.marginPercent(1570, 72, auto, 0, auto);

    @include mi.mq(sp) {
        @include mi.marginPercent(330, 37, auto, 0, auto);
    }
}

.picMasseageFx {
    @include mi.ontener_width02(1570, 730);

    @include mi.mq(max1800) {
        @include mi.ontener_width02(1570, 730);
    }

    @include mi.mq(sp) {
        @include mi.ontenerWidth(330, 330);
    }
}

.secMasseagePref {
    @include mi.marginPercent(1570, 85, auto, 0, auto);
    @include mi.ontener_width02(1570, 618);

    @include mi.mq(max1800) {
        @include mi.ontener_width02(1570, 700);
    }

    @include mi.mq(sp) {
        @include mi.marginPercent(330, 20, auto, 0, auto);
        @include mi.ontenerWidth(330, 330);
    }
}

.h3MasseagePref {
    @include mi.fontSizePc(30);
    @include mi.lineheightP(180);
    @include mi.letterSpacing(50);

    @include mi.mq(max1450) {
        @include mi.fontSizePc(28);
        @include mi.lineheightP(180);
        @include mi.letterSpacing(50);
    }

    @include mi.mq(tab) {
        @include mi.fontSizePc(26);
        @include mi.lineheightP(180);
        @include mi.letterSpacing(50);
    }

    @include mi.mq(sp) {
        @include mi.marginPercent(330, 20, auto, 0, auto);
        @include mi.fontSizeSp(13);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(50);
    }
}

.h4MasseagePref {
    @include mi.marginPercent(618, 44, auto, 0, auto);
    @include mi.fontSizePc(15);
    @include mi.lineheight(auto, auto);
    @include mi.letterSpacing(0);

    @include mi.mq(max1450) {
        @include mi.fontSizePc(13);
        @include mi.lineheightP(180);
        @include mi.letterSpacing(50);
    }

    @include mi.mq(tab) {
        @include mi.marginPercent(618, 34, auto, 0, auto);
    }

    @include mi.mq(sp) {
        @include mi.marginPercent(330, 10, auto, 0, auto);
        @include mi.fontSizeSp(13);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(0);
    }
}

.massageNameFx {
    @include mi.marginPercent(618, 14, auto, 0, auto);

    @include mi.mq(sp) {
        @include mi.marginPercent(330, 2, auto, 0, auto);
    }
}

.h5MasseagePref {
    @include mi.fontSizePc(24);
    line-height: 1;
    @include mi.letterSpacing(100);

    @include mi.mq(max1450) {
        @include mi.fontSizePc(24);
        line-height: 1;
        @include mi.letterSpacing(50);
    }

    @include mi.mq(sp) {
        @include mi.fontSizeSp(20);
        line-height: 1;
        @include mi.letterSpacing(100);
    }
}

.txtMasseagePref {
    @include mi.fontSizePc(13);
    line-height: 1;
    @include mi.letterSpacing(150);
    @include mi.marginPercent(618, 0, 0, 0, 16);

    @include mi.mq(max1450) {
        @include mi.fontSizePc(13);
        line-height: 1;
        @include mi.letterSpacing(150);
    }

    @include mi.mq(sp) {
        @include mi.fontSizeSp(12);
        line-height: 1;
        @include mi.letterSpacing(150);
        @include mi.marginPercent(330, 0, 0, 0, 15);
    }
}

.txtMasseagePrefMain {
    @include mi.marginPercent(618, 72, auto, 0, auto);
    @include mi.fontSizePc(16);
    @include mi.lineheightP(200);
    @include mi.letterSpacing(100);

    @include mi.mq(max1450) {
        @include mi.marginPercent(618, 62, auto, 0, auto);
        @include mi.fontSizePc(13);
        @include mi.lineheightP(180);
        @include mi.letterSpacing(50);
    }

    @include mi.mq(tab) {
        @include mi.marginPercent(618, 45, auto, 0, auto);
    }

    @include mi.mq(sp) {
        @include mi.marginPercent(330, 49, 0, 0, 0);
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(180);
        @include mi.letterSpacing(0);
    }
}