/* ==========================================================================
useï¼†nameSpace
========================================================================== */
@use "../../Functions/mixin"as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.message {
    @include mi.paddingVw(1920, 236, 0, 0, 0);
    @include mi.mq(sp) {
        padding: 32.5% 0% 0% 0%;
    }
}

.masseageLxn {
    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 330);
        margin: auto;
    }
}

.h2MasseageLxn {
    @include mi.fontSizePc(20);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(50);

    @include mi.mq(sp) {
        @include mi.fontSizeSp(15);
        @include mi.lineheightP(100);
        @include mi.letterSpacing(50);
    }
}

.h3MasseageLxn {
    @include mi.marginPercent(1570, 24, auto, 0, auto);
    @include mi.fontSizePc(40);
    @include mi.lineheightP(150);
    letter-spacing: -0.115em;

    @include mi.mq(sp) {
        @include mi.marginPercent(330, 20, auto, 0, auto);
        @include mi.fontSizeSp(20);
        @include mi.lineheightP(150);
        letter-spacing: -0.14em;
    }
}

.masseageFx {
    @include mi.marginPercent(1570, 60, auto, 0, auto);

    @include mi.mq(sp) {
        margin-top: 9.21%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}

.picMasseageFx {
    @include mi.ontener_width02(1570, 730);

    @include mi.mq(max1800) {
        @include mi.ontener_width02(1570, 730);
    }

    @include mi.mq(sp) {
        @include mi.ontenerWidth(330, 330);
    }
}

.secMasseagePref {
    @include mi.marginPercent(1570, 74, 0, 0, auto);
    width: 39.25%;

    @include mi.mq(max1800) {
        @include mi.ontener_width02(1570, 700);
    }

    @include mi.mq(sp) {
        margin-top: 3.5%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.ontenerWidth(330, 330);
    }
}

.h3MasseagePref {
    @include mi.fontSizePc(30);
    @include mi.lineheightP(180);
    @include mi.letterSpacing(50);

    @include mi.mq(max1450) {
        @include mi.fontSizePc(28);
        @include mi.lineheightP(180);
        @include mi.letterSpacing(50);
    }

    @include mi.mq(tab) {
        @include mi.fontSizePc(26);
        @include mi.lineheightP(180);
        @include mi.letterSpacing(50);
    }

    @include mi.mq(sp) {
        @include mi.marginPercent(330, 20, auto, 0, auto);
        @include mi.fontSizeSp(18);
        @include mi.lineheightP(160);
        letter-spacing: 0.02em;
    }
}

.h4MasseagePref {
    @include mi.marginPercent(618, 28, auto, 0, auto);
    @include mi.fontSizePc(15);
    @include mi.lineheight(auto, auto);
    @include mi.letterSpacing(0);

    @include mi.mq(max1450) {
        @include mi.fontSizePc(13);
        @include mi.lineheightP(180);
        @include mi.letterSpacing(50);
    }

    @include mi.mq(tab) {
        @include mi.marginPercent(618, 34, auto, 0, auto);
    }

    @include mi.mq(sp) {
        margin-top: 7.03%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(13);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(0);
    }
}

.massageNameFx {
    @include mi.marginPercent(618, 11, auto, 0, auto);

    @include mi.mq(sp) {
        margin-top: 2.5%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}

.h5MasseagePref {
    @include mi.fontSizePc(24);
    line-height: 1;
    @include mi.letterSpacing(100);

    @include mi.mq(max1450) {
        @include mi.fontSizePc(24);
        line-height: 1;
        @include mi.letterSpacing(50);
    }

    @include mi.mq(sp) {
        @include mi.fontSizeSp(20);
        line-height: 1;
        @include mi.letterSpacing(100);
    }
}

.txtMasseagePref {
    @include mi.fontSizePc(13);
    line-height: 1;
    @include mi.letterSpacing(150);
    @include mi.marginPercent(618, 0, 0, 0, 15);

    @include mi.mq(max1450) {
        @include mi.fontSizePc(13);
        line-height: 1;
        @include mi.letterSpacing(150);
    }

    @include mi.mq(sp) {
        @include mi.fontSizeSp(12);
        line-height: 1;
        @include mi.letterSpacing(150);
        margin: 0% 0% 0% 6%;
    }
}

.txtMasseagePrefMain {
    @include mi.marginPercent(618, 72, auto, 0, auto);
    @include mi.fontSizePc(16);
    @include mi.lineheightP(200);
    @include mi.letterSpacing(100);

    @include mi.mq(max1450) {
        @include mi.marginPercent(618, 62, auto, 0, auto);
        @include mi.fontSizePc(13);
        @include mi.lineheightP(179);
        @include mi.letterSpacing(50);
    }

    @include mi.mq(tab) {
        @include mi.marginPercent(618, 45, auto, 0, auto);
    }

    @include mi.mq(sp) {
        margin: 16.84% 0% 0% 0%;
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(180);
        @include mi.letterSpacing(0);
    }
}