/* ==========================================================================
useï¼†nameSpace
========================================================================== */
@use "../../Functions/mixin"as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.briefHistory {
    @include mi.paddingPercent(1920, 102, 0, 237, 0);

    @include mi.mq(sp) {
        padding: 34.6% 0% 31% 0%;
    }
}

.briefHistoryLxn {
    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 355);
        margin: auto;
    }
}

.titleBriefHistory {}

.h2TitleBriefHistory {
    @include mi.fontSizePc(26);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(150);

    @include mi.mq(sp) {
        @include mi.fontSizeSp(20);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(150);
    }
}

.h3TitleArrowBreaf {
    @include mi.fontSizePc(20);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(0);
    @include mi.marginPercent(1570, 0, 0, 0, 23);

    @include mi.mq(sp) {
        width: 100%;
        @include mi.fontSizeSp(15);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(0);
        @include mi.marginPercent(355, 5, 0, 0, 0);
    }
}

.brdTitleBriefHistory {
    @include mi.marginPercent(1570, 21, 0, 0, 0);
    height: 1px;
    width: 100%;

    @include mi.mq(sp) {
        margin: 3.8% 0% 0% 0%;
    }
}

.mainBriefHistory {
    @include mi.marginPercent(1570, 35, 0, 0, 0);

    @include mi.mq(sp) {
        margin: 8% 0% 0% 0%;
    }
}

.mainBriefHistoryFx {}

.secMainBriefHistoryFx {
    @include mi.ontenerWidth(1570, 596);

    @include mi.mq(tab) {
        @include mi.ontenerWidth(1250, 680);
    }

    @include mi.mq(sp) {
        @include mi.ontenerWidth(355, 355);
    }
}

.h3MainBriefHistoryFx {
    @include mi.fontSizePc(16);
    @include mi.lineheightP(130);
    @include mi.letterSpacing(0);

    @include mi.mq(sp) {
        @include mi.fontSizeSp(15);
        @include mi.lineheightP(140);
        @include mi.letterSpacing(-9);
    }
}

.ulMainBriefHistoryFx {
    @include mi.marginPercent(748, 19, 0, 0, 0);

    @include mi.mq(sp) {
        margin: 4.35% 0% 0% 0%;
    }
}

.liMainBriefHistoryFx {
    &:nth-child(n+2) {
        @include mi.marginPercent(748, 11, 0, 0, 0);

        @include mi.mq(sp) {
            margin: 3.02% 0% 0% 0%;
        }
    }
}

.yearMainBriefHistoryFx {
    width: 10.82%;
    @include mi.fontSizePc(16);
    @include mi.lineheightP(130);
    @include mi.letterSpacing(0);

    @include mi.mq(sp) {
        @include mi.ontenerWidth(355, 60);
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(140);
        @include mi.letterSpacing(0);
    }
}

.txtMainBriefHistoryFx {
    @include mi.ontener_width02(748, 682);
    @include mi.fontSizePc(16);
    @include mi.lineheightP(130);
    @include mi.letterSpacing(0);

    @include mi.mq(sp) {
        @include mi.ontenerWidth(355, 294);
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(140);
        @include mi.letterSpacing(0);
    }
}


.secMainBriefHistoryFx02 {
    @include mi.ontenerWidth(1570, 530);
    margin: 0vw 0vw 0vw 9.96875vw;

    @include mi.mq(max1450) {
        @include mi.ontenerWidth(1250, 400);
        @include mi.marginPercent(1250, 0, 0, 0, 60);
    }

    @include mi.mq(sp) {
        @include mi.ontenerWidth(355, 355);
        margin: 16.99% 0% 0% 0%;
    }
}

.ulMainBriefHistoryFx02 {
    @include mi.marginPercent(530, 31, 0, 0, 0);

    @include mi.mq(sp) {
        margin: 1.94% 0% 0% 0%;
    }
}

.liMainBriefCompanyFx {
    @include mi.fontSizePc(16);
    @include mi.lineheightP(130);
    @include mi.letterSpacing(0);

    @include mi.mq(sp) {
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(140);
        @include mi.letterSpacing(0);
    }

    &:nth-child(n+2) {
        @include mi.marginPercent(530, 11, 0, 0, 0);

        @include mi.mq(sp) {
            margin: 2.4% 0% 0% 0%;
        }
    }
}