/* ==========================================================================
useï¼†nameSpace
========================================================================== */
@use "../../Functions/mixin"as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.special {
    @include mi.marginVw(1920, 0, 0, 0, 0);
    @include mi.paddingVw(1920, 236, 0, 123, 0);

    @include mi.mq(sp) {
        @include mi.marginPercent(375, 0, auto, 0, auto);
        @include mi.paddingPercent(375, 116, 0, 61, 0);
    }
}

.specialLxn {
    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 355);
    }
}

.h2Special {
    @include mi.fontSizePc(20);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(50);

    @include mi.mq(sp) {
        @include mi.ontenerWidth(355, 330);
        margin: auto;
        @include mi.fontSizeSp(15);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(50);
    }
}

.h3Special {
    @include mi.marginVw(1920, 35, 0, 0, 0);
    @include mi.fontSizePc(40);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(-50);

    @include mi.mq(sp) {
        @include mi.ontenerWidth(355, 330);
        @include mi.marginPercent(355, 8, auto, 0, auto);
        @include mi.fontSizeSp(20);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(-50);
    }
}

.ulSpecial {
    @include mi.marginVw(1920, 67, 0, 0, 0);

    @include mi.mq(sp) {
        @include mi.marginPercent(355, 25, auto, 0, auto);
    }
}

.liSpecial {
    @include mi.ontener_width02(1570, 510);
    @include mi.marginPercent02(1570, 0, 0, 20, 0);
    @include mi.paddingPercent02(1570, 26, 0, 32, 0);
    @include mi.kadomaru(10px);

    @include mi.mq(sp) {
        width: 100%;
        @include mi.marginPercent(355, 0, auto, 0, auto);
        @include mi.paddingPercent(355, 17, 0, 21, 0);
    }

    &:nth-child(3n+2) {
        @include mi.marginPercent02(1570, 0, 20, 21, 20);

        @include mi.mq(sp) {
            @include mi.marginPercent(355, 0, auto, 0, auto);
        }
    }

    &:nth-child(n+2) {
        @include mi.mq(sp) {
            @include mi.marginPercent(355, 16, auto, 0, auto);
        }
    }
}

.liSpecialLxn {
    @include mi.ontener_width02(510, 460);
    margin: auto;

    @include mi.mq(sp) {
        @include mi.ontenerWidth(355, 321);
    }
}

.specialTopFx {}

.photoSpecialTop {
    @include mi.ontener_width02(460, 185);

    @include mi.mq(sp) {
        @include mi.ontenerWidth(321, 107);
    }
}

.secSpecialTop {
    @include mi.ontener_width02(460, 245);
    @include mi.marginPercent02(460, 44, 0, 0, 0);

    @include mi.mq(max1700) {
        @include mi.marginPercent02(460, 15, 0, 0, 0);
    }

    @include mi.mq(sp) {
        @include mi.ontenerWidth(321, 200);
        @include mi.marginPercent(321, 8, auto, 0, auto);
    }
}

.h4SpecialTop {
    @include mi.fontSizePc(16);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(0);

    @include mi.mq(max1700) {
        @include mi.fontSizePc(12);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(0);
    }

    @include mi.mq(sp) {
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(0);
    }
}

.h5SpecialTop {
    @include mi.marginPercent02(460, 30, 0, 0, 0);
    @include mi.fontSizePc(24);
    @include mi.lineheightP(auto);
    @include mi.letterSpacing(0);

    @include mi.mq(max1700) {
        @include mi.fontSizePc(18);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(0);
    }

    @include mi.mq(sp) {
        @include mi.marginPercent(200, 20, 0, 0, 0);
        @include mi.fontSizeSp(14);
        @include mi.lineheight(18, 30);
        @include mi.letterSpacing(0);
    }
}

.txtSpecialTop {
    @include mi.marginPercent02(460, 20, 0, 0, 0);
    @include mi.fontSizePc(14);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(0);

    @include mi.mq(max1700) {
        @include mi.fontSizePc(10);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(0);
    }

    @include mi.mq(sp) {
        @include mi.marginPercent(200, 16, 0, 0, 0);
        @include mi.fontSizeSp(12);
        @include mi.lineheight(12, 18);
        @include mi.letterSpacing(0);
    }
}

.h3SpecialMain {
    @include mi.marginPercent02(510, 32, 0, 0, 0);
    @include mi.fontSizePc(18);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(0);

    @include mi.mq(sp) {
        @include mi.marginPercent(321, 20, 0, 0, 0);
        @include mi.fontSizeSp(16);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(0);
    }
}

.txtSpecialMain {
    @include mi.marginPercent02(510, 24, 0, 0, 0);
    @include mi.fontSizePc(14);
    @include mi.lineheightP(160);
    @include mi.letterSpacing(0);

    @include mi.mq(sp) {
        @include mi.marginPercent(321, 15, 0, 0, 0);
        @include mi.fontSizeSp(13);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(0);
    }
}