/* ==========================================================================
useï¼†nameSpace
========================================================================== */
@use "../../Functions/mixin"as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.special {
    @include mi.marginVw(1920, 0, 0, 0, 0);
    padding: 12.091667vw 0vw 11.40625vw 0vw;

    @include mi.mq(sp) {
        @include mi.marginPercent(375, 0, auto, 0, auto);
        padding: 30.93% 0% 32.16% 0%;
    }
}

.specialLxn {
    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 355);
    }
}

.h2Special {
    @include mi.fontSizePc(20);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(50);

    @include mi.mq(sp) {
        @include mi.ontenerWidth(355, 330);
        margin: auto;
        @include mi.fontSizeSp(15);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(50);
    }
}

.h3Special {
    margin: 1.2229166667vw 0vw 0vw 0vw;
    @include mi.fontSizePc(40);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(-115);

    @include mi.mq(sp) {
        @include mi.ontenerWidth(355, 330);
        margin-top: 3.25%;
        margin-bottom: 0%;
        margin-left: 3.5%;
        margin-right: 0;
        @include mi.fontSizeSp(20);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(-140);
    }
}

.ulSpecial {
    margin: 2.989583vw 0vw 0vw 0vw;

    @include mi.mq(sp) {
        margin-top: 8.04%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}

.liSpecial {
    @include mi.ontener_width02(1570, 510);
    @include mi.marginPercent02(1570, 0, 0, 20, 0);
    padding: 1.65% 0% 1.83% 0%;
    @include mi.kadomaru(10px);

    @include mi.mq(sp) {
        width: 100%;
        @include mi.marginPercent(355, 0, auto, 0, auto);
        padding: 4.78% 0% 5.41% 0%;
    }

    &:nth-child(3n+2) {
        @include mi.marginPercent02(1570, 0, 20, 21, 20);

        @include mi.mq(sp) {
            @include mi.marginPercent(355, 0, auto, 0, auto);
        }
    }

    &:nth-child(n+2) {
        @include mi.mq(sp) {
            @include mi.marginPercent(355, 16, auto, 0, auto);
        }
    }
}

.liSpecialLxn {
    @include mi.ontener_width02(510, 460);
    margin: auto;

    @include mi.mq(sp) {
        @include mi.ontenerWidth(355, 321);
    }
}

.specialTopFx {}

.photoSpecialTop {
    @include mi.ontener_width02(460, 185);

    @include mi.mq(sp) {
        @include mi.ontenerWidth(321, 107);
    }
}

.secSpecialTop {
    @include mi.ontener_width02(460, 245);
    margin: 7.56% 0% 0% 0%;

    @include mi.mq(max1700) {
        @include mi.marginPercent02(460, 15, 0, 0, 0);
    }

    @include mi.mq(sp) {
        width: 62.3%;
        margin-top: 0.49%;
        margin-bottom: 0%;
        margin-left: 0;
        margin-right: 0;
    }
}

.h4SpecialTop {
    @include mi.fontSizePc(16);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(0);

    @include mi.mq(max1700) {
        @include mi.fontSizePc(12);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(0);
    }

    @include mi.mq(sp) {
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(0);
    }
}

.h5SpecialTop {
    margin: 8.52% 0% 0% 0%;
    @include mi.fontSizePc(24);
    @include mi.lineheightP(auto);
    @include mi.letterSpacing(100);

    @include mi.mq(max1700) {
        @include mi.fontSizePc(18);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(100);
    }

    @include mi.mq(sp) {
        margin: 6% 0% 0% 0%;
        @include mi.fontSizeSp(18);
        @include mi.lineheight(18, 30);
        @include mi.letterSpacing(100);
    }
}

.txtSpecialTop {
    @include mi.marginPercent02(460, 20, 0, 0, 0);
    @include mi.fontSizePc(14);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(0);

    @include mi.mq(max1700) {
        @include mi.fontSizePc(10);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(0);
    }

    @include mi.mq(sp) {
        margin: 4% 0% 0% 0%;
        @include mi.fontSizeSp(12);
        @include mi.lineheight(12, 18);
        @include mi.letterSpacing(0);
    }
}

.h3SpecialMain {
    margin: 5.27% 0% 0% 0%;
    @include mi.fontSizePc(18);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(0);

    @include mi.mq(sp) {
        margin: 3.23% 0% 0% 0%;
        @include mi.fontSizeSp(16);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(0);
    }
}

.txtSpecialMain {
    margin: 1.75% 0% 0% 0%;
    @include mi.fontSizePc(14);
    @include mi.lineheightP(160);
    @include mi.letterSpacing(0);

    @include mi.mq(sp) {
        margin: 1.67% 0% 0% 0%;
        @include mi.fontSizeSp(13);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(0);
    }
}