/* ==========================================================================
useï¼†nameSpace
========================================================================== */
@use "../../Functions/mixin"as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.business {
    @include mi.paddingPercent(1920, 231, 0, 240, 0);

    @include mi.mq(sp) {
        @include mi.paddingPercent(375, 123, 0, 120, 0);
    }
}

.businessLxn {
    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 355);
    }
}