/* ==========================================================================
useï¼†nameSpace
========================================================================== */
@use "../../Functions/mixin"as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.h2BissinesTitle {
    @include mi.fontSizePc(20);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(50);

    @include mi.mq(sp) {
        width: 93.36%;
        @include mi.fontSizeSp(15);
        @include mi.lineheight(15, 15);
        @include mi.letterSpacing(50);
        margin: auto;
    }
}

.h3BissinesTitle {
    margin: 1.204167vw 0vw 0vw 0vw;
    @include mi.fontSizePc(40);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(-115);
    font-feature-settings: "palt";

    @include mi.mq(sp) {
        margin-top: 6.46%;
        margin-bottom: 0%;
        margin-left: 3%;
        margin-right: 0;
        width: 83.36%;
        @include mi.fontSizeSp(20);
        @include mi.lineheight(20, 20);
        @include mi.letterSpacing(-140);
    }
}