/* ==========================================================================
useï¼†nameSpace
========================================================================== */
@use "../../Functions/mixin"as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.bussinessCnt02 {
    margin: 2.49854166667vw 0vw 0vw 0vw;

    @include mi.mq(sp) {
        @include mi.marginPercent(355, 62, 0, 0, 0);
    }
}