/* ==========================================================================
useï¼†nameSpace
========================================================================== */
@use "../../Functions/mixin"as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.bussinessCnt02 {
    @include mi.marginVw(1920, 65, 0, 0, 0);

    @include mi.mq(sp) {
        @include mi.marginPercent(355, 62, 0, 0, 0);
    }
}