/* ==========================================================================
useï¼†nameSpace
========================================================================== */
@use "../../Functions/mixin"as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.vision {
    @include mi.paddingVw(1920, 297, 0, 0, 0);
    overflow: hidden;

    @include mi.mq(sp) {
        padding-top: 25.2%;
        padding-bottom: 0%;
        padding-left: 0;
        padding-right: 0;
    }
}

.visionLxn {
    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 375);
    }
}

.visionFx {}

.secVision {
    @include mi.ontenerWidth(1570, 680);

    @include mi.mq(max1350) {
        @include mi.ontenerWidth(1570, 610);
    }

    @include mi.mq(tab) {
        @include mi.ontenerWidth(1570, 700);
    }

    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 375);
        margin: auto;
    }
}

.h2Vision {
    @include mi.fontSizePc(20);
    @include mi.lineheight(auto, auto);
    @include mi.letterSpacing(50);

    @include mi.mq(tab) {
        @include mi.fontSizePc(18);
        @include mi.lineheight(auto, auto);
        @include mi.letterSpacing(50);
    }

    @include mi.mq(sp) {
        @include mi.fontSizeSp(15);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(50);
        @include mi.ontenerWidth(375, 330);
        margin: auto;
    }
}

.h3Vision {
    margin: 3.40125vw 0vw 0vw 0vw;
    @include mi.fontSizePc(40);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(-115);

    @include mi.mq(tab) {
        @include mi.fontSizePc(34);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(-115);
    }

    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 330);
        margin-top: 1.53%;
        margin-bottom: 0%;
        margin-left: 6%;
        margin-right: 0;
        @include mi.fontSizeSp(26);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(-140);
    }
}

.txtVision {
    margin: 1.035417vw 0vw 0vw 0vw;
    @include mi.fontSizePc(18);
    @include mi.lineheightP(220);
    @include mi.letterSpacing(0);

    @include mi.mq(tab) {
        @include mi.fontSizePc(15);
        @include mi.lineheightP(220);
        @include mi.letterSpacing(0);
    }

    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 330);
        margin-top: 6.6%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(16);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(0);
    }
}

.photoVisionSp {
    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 375);
        margin-top: 21.4%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}

.h4Vision {
    margin: 8.458333vw 0vw 0vw 0vw;
    @include mi.fontSizePc(20);
    @include mi.lineheightP(auto);
    @include mi.letterSpacing(50);

    @include mi.mq(tab) {
        @include mi.fontSizePc(18);
        @include mi.lineheight(auto, auto);
        @include mi.letterSpacing(50);
    }

    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 330);
        @include mi.marginPercent(375, 65, auto, 0, auto);
        @include mi.fontSizeSp(15);
        @include mi.lineheightP(100);
        @include mi.letterSpacing(50);
    }
}

.ulVision {
    @include mi.marginVw(1920, 31, 0, 0, 0);

    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 330);
        margin-top: 10.8%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}

.liVision {
    @include mi.paddingVw(1920, 36, 0, 36, 0);
    border-bottom: 1px solid #A2A2A2;

    @include mi.mq(sp) {
        padding: 7.87% 0% 4.05% 0%;
    }

    &:nth-child(n+2) {
        margin: 0.985833vw 0vw 0vw 0vw;
    }
}

.h5Vision {
    @include mi.fontSizePc(16);
    @include mi.lineheightP(auto);
    @include mi.letterSpacing(50);

    @include mi.mq(tab) {
        @include mi.fontSizePc(14);
        @include mi.lineheightP(auto);
        @include mi.letterSpacing(50);
    }

    @include mi.mq(sp) {
        @include mi.fontSizeSp(12);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(50);
    }
}

.txtLiVison {
    margin: 1.38375vw 0vw 0vw 0vw;
    @include mi.fontSizePc(24);
    @include mi.lineheightP(auto);
    @include mi.letterSpacing(0);

    @include mi.mq(tab) {
        @include mi.fontSizePc(20);
        @include mi.lineheightP(auto);
        @include mi.letterSpacing(0);
    }

    @include mi.mq(sp) {
        margin-top: 2.93%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(16);
        line-height: normal;
        @include mi.letterSpacing(0);
    }
}

.photoVisionlxn {
    @include mi.ontenerWidth(1570, 716);
    position: relative;

    @include mi.mq(max1700) {
        @include mi.ontenerWidth(1570, 592);
    }

    @include mi.mq(max1350) {
        @include mi.widthVw(1570, 620);
    }

    @include mi.mq(sp) {
        display: none;
    }
}

.photoVision {
    position: absolute;
    @include mi.widthVw(1920, 891);
    left: 0;
    top: 0;

    img {
        width: 100%;
    }

    @include mi.mq(max1700) {
        @include mi.widthVw(1920, 891);
    }


}