/* ==========================================================================
useï¼†nameSpace
========================================================================== */
@use "../../Functions/mixin"as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.footer {
    @include mi.paddingPercent(1920, 105, 0, 43, 0);

    @include mi.mq(sp) {
        @include mi.paddingPercent(375, 54, 0, 36, 0);
    }
}

.footerLxn {
    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 330);
        margin: auto;
    }
}

.footerLxnFx {}

.logoFoter {
    @include mi.ontenerWidth(1570, 144.54);

    @include mi.mq(sp) {
        @include mi.ontenerWidth(330, 144);
        margin: auto;
    }

    img {
        width: 100%;
        height: auto;
    }
}

.navFooter {
    @include mi.ontenerWidth(1570, 819);

    @include mi.mq(tab) {
        width: 72.16%;
    }

    @include mi.mq(sp) {
        @include mi.ontenerWidth(330, 330);
        @include mi.marginPercent(330, 69, auto, 0, auto);
    }
}

.ulNavFooter {}

.liNavFooter {
    @include mi.fontSizePc(20);
    @include mi.lineheight(auto, auto);
    @include mi.letterSpacing(50);

    @include mi.mq(sp) {
        @include mi.fontSizeSp(15);
        @include mi.lineheight(auto, auto);
        @include mi.letterSpacing(50);
    }
}

.liNavFooter01 {
    @include mi.ontenerWidth(819, 160);
    @include mi.marginPercent(819, 0, 0, 45, 0);

    @include mi.mq(sp) {
        width: 50%;
        @include mi.marginPercent(330, 0, 0, 29, 0);
    }
}

.liNavFooter02 {
    @include mi.ontenerWidth(819, 230);
    @include mi.marginPercent(819, 0, 0, 45, 46);

    @include mi.mq(sp) {
        width: 50%;
        @include mi.marginPercent(330, 0, 0, 29, 0);
    }
}

.liNavFooter03 {
    @include mi.ontenerWidth(819, 135);
    @include mi.marginPercent(819, 0, 0, 45, 46);

    @include mi.mq(sp) {
        width: 50%;
        @include mi.marginPercent(330, 0, 0, 29, 0);
    }
}

.liNavFooter04 {
    @include mi.ontenerWidth(819, 156);
    @include mi.marginPercent(819, 0, 0, 45, 46);

    @include mi.mq(sp) {
        width: 50%;
        @include mi.marginPercent(330, 0, 0, 29, 0);
    }
}

.copy {
    text-align: right;
    @include mi.fontSizePc(12);
    @include mi.lineheightP(180);
    @include mi.letterSpacing(50);
    @include mi.marginPercent(1570, -2, 0, 0, 0);

    @include mi.mq(sp) {
        text-align: center;
        @include mi.fontSizeSp(12);
        @include mi.lineheightP(180);
        @include mi.letterSpacing(50);
        @include mi.marginPercent(330, 53, 0, 0, 0);

    }
}




.pcFixedBtn{
    position: fixed;
    bottom: 2%;
    right: 0;
    z-index: 2;
    width: 325px;
}
.pcFixedBtnFx{

}
.ctaPcFixedBtnFxc{
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
}
.liCtaPcFixedBtnFxc{
 @include mi.ontenerWidth( 325, 256 );
}
.btnCtaPcFixedBtnFxc{
    width: 100%;
    @include mi.kadomaru(60px);
    aspect-ratio: 334 / 72;
    @include mi.fontSizePc(20);
    background: #669B40;

    @include mi.mq(sp) {
        @include mi.kadomaru(60px);
        aspect-ratio: 160 / 39;
        @include mi.fontSizeSp(14);
    }
}
.txtCtaPcFixedBtnFxc{
    @include mi.fontSizePc(20);
    @include mi.lineheightP(130);
    @include mi.letterSpacing(0);
     transition-duration: 0.5s;
}
.btnCtaPcFixedBtnFxc:hover {
    opacity: 1;

    .txtCtaPcFixedBtnFxc {
        letter-spacing: 0.15em;
    }
}



.liTopCtaFixedBtnFxc{
    @include mi.ontenerWidth( 325, 60 );
}