@forward "_00_headerPc";
@forward "_01_headerSp";
@forward "_03_headerPcGnav";
@forward "_04_fvTop";
@forward "_05_fvBtm";
@forward "_06_made";
@forward "_07_kadai";
@forward "_08_strong";
@forward "_09_kyosan";
@forward "_10_message";
@forward "_11_value";
@forward "_12_brief";
@forward "_13_special";
@forward "_14_business";
@forward "_15_businessTitle";
@forward "_16_businessCnt01";
@forward "_17_businessCnt02";
@forward "_18_businessCnt03";
@forward "_19_businessCnt04";
@forward "_20_vision";
@forward "_21_brandMessage";
@forward "_22_company";
@forward "_23_contact";
@forward "_24_footer";
@forward "_25_spFixedfooter";