.cl_1D1D1F {
    color: #1D1D1F;
}

.cl_2C2C2C {
    color: #2C2C2C;
}

.cl_fff {
    color: #fff;
}

.cl_669B40 {
    color: #669B40;
}

.cl_000 {
    color: #000;
}

.cl_4B4A4A {
    color: #4B4A4A;
}

.cl_A2A2A2 {
    color: #A2A2A2;
}

.bg_6C8958 {
    background: #6C8958;
}

.bg_669B40 {
    background: #669B40;
}

.bg_E5E5E5 {
    background: #E5E5E5;
}

.bg_F5F5F5 {
    background: #F5F5F5;
}

.bg_fff {
    background: #fff;
}

.undernone {
    text-decoration: none;
}

.c_pointer {
    cursor: pointer;
}

.txtset {
    leading-trim: both;
    text-edge: cap;
}

.ovnone {
    overflow: hidden;
}